* {border: 0; margin: 0;  padding: 0;}
html{margin-top:0;}
body {text-shadow:1px 1px #fff; background:#EDEDED; color: #555; font:normal 87.5% 微软雅黑;}
.clearfix:after {clear: both;content: "";display: block; height: 0;visibility: hidden;}
.clearfix { clear: both;}
::selection {color: #0088dd;background: #dcdcdc;}
::-moz-selection {color: #0088dd;background: #dcdcdc;}
h2{font-size:100%;}
.fl{ float:left;}
.fr{ float:right;}
ul li{ list-style:none; line-height:1.5em;}
.red{ color:#f00;}
a:link, a:visited{color: #0088dd;text-decoration: none;}
a:hover{}
.clear{clear: both;}
.w1000{ width:1000px; margin:0 auto;}
.mNav{ display:none;}
#header{height:112px;}
#top{ width:990px;margin: 0 auto;}
#top_logo{float:left; height:75px;}
.page_menu{ }
.page_menu ul{list-style:none; float:left;}
.page_menu li {text-shadow:1px 1px #fff;
	color: #FFFFFF;
	float: left;
	padding:8px 10px 0 10px;
}
.search {margin-top:6px; float:right}
#searchform {background:#dadada; border-radius:3px; padding:3px 3px 3px 3px;*padding:2px 3px 4px 3px;}
#searchform label {display:none;}
#searchform input {width:160px; height:24px; line-height:24px; vertical-align:middle; padding:0 5px;}
#searchform button,#searchform #searchsubmit {width:58px; text-align:center; height:26px; line-height:26px; background:#666; margin-left:-4px; border:none; color:#fff; cursor:pointer; vertical-align:middle; text-shadow:1px 1px #333;}
.search button:hover {background:#333;}
#blogname{
	float: left;
	font-size: 22px;
	padding-left:10px;
	margin-top:15px;
	}
#blogname a:link,#blogname a:visited, .article h2 a:link, .article h2 a:visited{color:#222;}
.article h2 a:link, .article h2 a:visited{color:#333;}
#blogname a:hover, .article h2 a:hover {
	color:#626262;
	text-decoration: none;
	}
#blogtitle {
	padding-top:5px;color:#666;
	font-size: 13px;
	font-weight:normal;
	}
.logo {
	margin-top:15px;
	margin-left:10px;_margin-left:5px;
	}
.topnav {float: left;width:820px;height: 34px;padding: 0;margin:0 0 3px 10px;_margin:0 0 3px 5px;overflow:hidden;}
.topnav li img{_padding-top:11px;}
.topnav ul { list-style: none; margin: 0; padding: 0; position: absolute; z-index: 999; }
.topnav li {
	width:90px;
	height: 34px;
	float: left;
	font-weight:bold;
	position: relative;
	padding:0 12px 0 0;
}
.topnav .sub-menu li{padding:0px;}
.topnav li a:link, .topnav li a:visited{
	width:90px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	display: block;
	text-decoration: none;
	border-bottom: #08d 1px solid;
	color: #08d; }
.topnav li a:hover {color: #0064a2;}
.topnav ul ul { display: none; position: absolute; top: 34px; left: 0; z-index: 999; width: 90px;}
.topnav ul ul li { display: block; background:#fafafa url(images/bg2.png) repeat; border-top:1px #08d solid; position: relative;top:1px}
.topnav ul ul ul { position: absolute;left: 90px;z-index: 999; width: 90px;}
.topnav li.li01 { }
.topnav li.li01 a { color: #08d;text-decoration: none;}
.topnav li.li01 a:hover {color: #0064a2;}
.topnav li.li01 li a { color: #08d; }
.topnav li.li01 li a:hover { border-bottom:1px #08d solid;}
.topnav li li.li01 a { background:#fafafa url(images/bg2.png) repeat; color: #08d;text-decoration: none;}
.topnav li li.li01 ul{top:-2px}
.topnav li li.li01 ul a { color: #08d;}
.topnav li li.li01 ul a:hover { border-bottom:1px #08d solid;}

#rss {float:right;border:none;}
#rss ul{ list-style:none;}
#rss ul li{margin:15px 0 0 14px;float:right;}
#rss ul li.rssmail{margin-left:-6px;}
.icon1 {display:block;width:28px;height:28px;background:url(images/rss.gif) no-repeat top;}	
.icon1 span.hover {display:block;width:28px;height:28px;background:url(images/rss.gif) no-repeat bottom;}
.icon2 {display:block;width:28px;height:28px;background:url(images/tqq.gif) no-repeat top;}	
.icon2 span.hover {display:block;width:28px;height:28px;background:url(images/tqq.gif) no-repeat bottom;}
.icon3 {display:block;width:28px;height:28px;background:url(images/tsina.gif) no-repeat top;}	
.icon3 span.hover {display:block;width:28px;height:28px;background:url(images/tsina.gif) no-repeat bottom;}
.icon4 {display:block;width:28px;height:28px;background:url(images/rssmail.gif) no-repeat top;}	
.icon4 span.hover {display:block;width:28px;height:28px;background:url(images/rssmail.gif) no-repeat bottom;}

#breadcrumbs{ margin:5px 0 1px 0; border-radius:8px 8px 0 0;background: #FFFFFF;box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); padding:10px 20px;}
.web_download .win{ display:inline-block; background:url(images/win-logo.jpg) no-repeat; height:19px; padding-left:25px;}
.web_download .mac{ display:inline-block; background:url(images/mac-logo.jpg) no-repeat; height:19px; padding-left:25px;}

#content{ background:#fff; margin:0 auto; width:940px; padding:10px 30px;background: #FFFFFF;position:relative;}
.main{float:left; width:630px;text-shadow: 0 0 0 #FFFFFF;}
.main .article{ width:630px;}
.article{border-bottom: 1px dashed #BBBBBB; padding:18px 0 5px; overflow:hidden;}
.article:hover{ background:#fafafa;}
.article li{list-style:none}
.articles{width:630px;border-bottom:1px #ddd solid;padding:10px 0;overflow:hidden}
.copyRight{background:#FAFAFA;margin: 15px 0 0; padding: 5px;}
.infoLike{ padding:5px 0;border-bottom:1px #ddd solid;}
.infoTags {font-size: 18px; line-height: 55px; display:inline;}
.infoTags a {background:#FAFAFA; border: 1px solid #E5E5E6;border-radius:5px;color: #C21D23;font-size: 16px;padding: 5px; display:inline-block; line-height:22px;}
.infoTags a:hover {background:#C21D23;border: 1px solid #C21D23;color: #FFFFFF;text-decoration: none; text-shadow:none;}
.main h2 a,.main h2{ font:normal 22px/30px "微软雅黑";text-shadow: 1px 1px #ccc; color:#4E4E4E;}
.main h2 a:hover{ color:#0088DD;}
.main h1 a,.main h1{ font:normal 22px/30px "微软雅黑";text-shadow: 1px 1px #ccc; color:#4E4E4E;}
.main h1 a:hover{ color:#0088DD;}


.time{color: #999999;display: block;font-size: 12px; letter-spacing:1px; margin:5px 0 10px 0;}
.articles h3{font-size:15px}
.new{margin-left:2px;position:absolute}
.thumbnail {margin: 0px 10px 8px 0px;_margin: 0px 10px 8px 0px; background:#FEFEFE; border: 1px solid #F1F1F1;  border-radius: 6px;
padding: 6px;display:inline-block;float:left; width:160px;}
.thumbnail img{ max-width:160px; _width:160px;}
.entry_post{line-height:30px; padding:5px 0 10px 0; color:#555555;}
.info{ color:#999; float:left;font-size:12px; width:515px; overflow:hidden; line-height:20px; height:20px}
.info a{ padding:0 2px;}
.article_info{font-size:12px;padding-left:10px; line-height:22px; color:#777}
.comments_num{float:right;}
.comments_num a:link, .comments_num a:visited{color:#555;text-shadow:1px 1px #eee; background:url(images/speech_bubble.jpg) right top no-repeat;padding:1px 20px 0 3px;font-size:12px;line-height:20px; height:20px;}
.context{position:relative; width:620px; overflow:hidden; }
.context p {margin:20px 0;line-height:22px; text-indent:2em; text-align:left;}
.context embed{ max-width:550px;}
.context h4 {margin:10px 0 5px 0}
.context h5 {
	font-size: 15px;
	padding:3px 8px;
	background:#ededed;
	border:1px #ddd solid;
}
.context ol {margin-left:20px}
.context ol li{line-height:22px}
.context p img,.context div img{ max-width:602px; display:inline-block;}
.context blockquote{
	padding:5px 20px; margin:0 5px;
	border:1px solid #ddd; border-left:8px solid #ddd;
	background-color:#e9e9e9;
	overflow:auto; text-align:left;
}
.context blockquote p{ text-indent:0;}
.context .wp-caption{ display:block;background:#f3f3f3; border: 1px solid #F1F1F1;border-radius:6px;max-width:602px;padding: 6px; text-align:center;margin:5px auto;}
.context .wp-caption-text{ margin:10px auto; text-align:center;}
.author_pic{float:left; width:60px;}
.author_pic img { padding:3px; background:#ccc; margin-top:8px}
.author_pic img:hover {background:#aaa;}
.author_text {float:right; width:540px;}
.relatedposts h3{ padding:5px 0 10px; }
.relatedposts ol{padding-top:3px}
.relatedposts li{
	float:left;display:block;
	width:315px;height:20px;
	overflow:hidden;
	line-height:24px;
    padding: 4px 0;
	}
	.relatedposts li a:hover{ color:#666;}
	
.navigation{}
.navigation a,.navigation span{ border: 1px solid #C2C2C2;
    border-radius: 3px 3px 3px 3px;
    color: #0088DD;
    float: left;
    margin: 25px 5px 25px 0;
    padding: 5px 10px; display:inline;}
.navigation span.current{ color:#9D9D9D;}
.pagination {line-height:24px;}
.inactive {height:22px; width:22px;}
.pagination span, .pagination a {
	width:22px;text-align:center;
	height:22px;line-height:24px;
	margin:0px 2px 0px 2px;
	display:inline-block;
	text-decoration:none;
	border:1px #e0e0e0 solid;
	}
.pagination .current{
	height:22px; width:22px;
	color:#333;
	border:1px #bcbcbc solid;
	font-weight:bold;
	background:#f0f0f0;
	}
.pagination a:hover {
	height:22px; width:22px;
	color:#333;
	border:1px #bcbcbc solid;
	text-decoration: none;
	}
.pagination .page_previous, .pagination .prev{
	width:50px;
	height:22px;
	text-align:center;}
.pagination .page_previous:hover, .pagination .prev:hover{
	width:50px;
	height:22px;
	text-align:center;
	}
.pagination .page_next, .pagination .next, .pagination .page_next:hover, .pagination .next:hover{
	width:50px;
	height:22px;
	text-align:center;
	}
.pagination .fir_las, .pagination .fir_las:hover{
	width:30px;
	height:22px;
	text-align:center;
	}

#sidebar{float:right; width:260px; margin-top:7px}
#sidebar li ul { }
#sidebar li ul li {}
#sidebar li ul.children li,#sidebar li ul.children li ul li {
	padding-left: 18px;
	background: url(images/tier.gif) 6px 5px no-repeat;
	}
#sidebar h3{font-size:15px;line-height:30px; height:30px; margin:5px 0 8px 0; font-family:"Century Gothic","Lucida Grande",Helvetica,Arial,微軟正黑體,微软雅黑;}
.widget { padding-bottom:20px;}
.widget ul{ padding:1px 0 1px 0;}
.widget ul li{line-height:22px;padding: 4px 0 4px 15px;}
.widget ul li a{ font-size:13px; color:#555;}
.widget ul li a:hover{color:#0088DD;}
#tab-title .selected{color:#f00;font-weight:bold} 
#tab-title span{
	padding:0 22px 8px 0;
	cursor:pointer;}
	.tagBody{ padding-left:5px;}
#tab-content .hide{display:none;} 
#tab-content ul{overflow:hidden;}
#tab-content ul li{line-height:23px; padding:2px 0;}
.top_comment ul { width:260px; clear:both;}
.top_comment ul li {list-style:none; display:inline-block; padding:3px; width:52px; float:left;}
.top_comment img.avatar{
	width:38px; height:38px;
	background:#e3e3e3;
	border: 1px solid #e3e3e3;
	padding:3px;margin:3px;}
.top_comment img.avatar:hover{background:#d0d0d0;}
#loginform p {line-height:25px}
input,textarea,button {outline:none;}
.article input{border:1px solid #ddd;padding:2px; margin:2px}
#loginform input.login{
	width:120px;
	padding:2px;
	background:#fff;
	color:#444;
	border:1px solid #ddd;
	box-shadow:inset 2px 3px 5px #eee;
	}
#loginform input.denglu{
	background:#f0f0f0;
	width:66px;	
	height:23px;
 	color: #444;
	text-align:center;
	margin-top:8px;
	border:1px solid #ddd;
}
#loginform input:focus {
	border: 1px solid #ccc;
	}

.t_comment {
	}
.t_comment ul {
	list-style-type:none;
 	}
.t_comment li {
	line-height:22px; clear:both;
	}
.t_comment ul li img.avatar {
	height:32px;
	float:left;
	padding:3px;
	margin:4px 4px 0 0;
	background:#fff;
	border: 1px solid #ddd;
	}
.v-links{overflow:hidden;
	}
.v-links li{
	float:left;
	display:block;
	width:128px;
	height:20px;
	overflow:hidden;
	}
.v_avatar{
	float: left;
	width:70px;
	margin-left: 18px
	}
.v_avatar img {
	padding:6px;
	background:#e3e3e3;
	border: 1px solid #e3e3e3;
	}
.v_li{
	float:right;
	width:135px;
	line-height:19px;
	list-style:none;
	}
.articles_all{line-height:30px}
.car-collapse .car-yearmonth { cursor: s-resize; }
a.car-toggler{line-height:30px; font-size:14px; color:#c30}
.car-list li{list-style:none; line-height:24px}
.car-list li ul{padding-left:30px}
.car-plus, .car-minus {width:15px; display:block; float:left;font-family:Courier New, Lucida Console, MS Gothic, MS Mincho;}

.tearsnowlink, .linkstandard {list-style:none;} 
.tearsnowlink ul ul, .linkstandard ul{
	list-style:none;
	line-height:24px
}
.tearsnowlink ul ul li{float:left;height:28px;width:25%;overflow:hidden;} 
.tearsnowlink ul li h2, .linkstandard h2{ clear:both; font-size:15px}
.v_comment{
}
.v_comment ul{ padding-top:14px}
.v_comment ul li{list-style-type:none;display:inline;}
.v_comment img{
	height:36px;
	height:36px;
	float:left;
	padding:1px;
	margin:2px;
	border: 1px solid #ddd;
	}
.v_comment img:hover{border: 1px solid #ccc;
	-webkit-animation: comm 1.1s ease-in infinite;
	box-shadow:0 0 2px rgba(0,158,224,0.9);
	-moz-box-shadow:0 0 2px rgba(0,158,224,0.9);
	-webkit-box-shadow:0 0 2px rgba(0,158,224,0.9);
	}
@-webkit-keyframes comm{
     0% {
-webkit-box-shadow: 0 0 7px rgba(0,158,224,0.9);
     }
     100% {
-webkit-box-shadow: 0 0 2px rgba(0,158,224,0.9);
     }
  }
/** 文章评论 **/
.bdshare_t{ display:block; margin:10px 0;}
.commentlist { margin-top:30px;}
.commentlist .comment {
	list-style: none;
	}
.commentlist li.comment ul.children {margin-left:30px;}
.commentlist .depth-1{	margin: 10px 0 10px 0;}
.commentlist li {position: relative; padding:10px; border-radius:5px; border:1px solid #eee; display:block;}
.commentlist .even{ background:#fff;}
.commentlist .odd { background:#fafafa;}
.commentlist .alt{ margin:5px 0;}
.commentlist .comment-body {padding:5px 0 5px 0; min-height:80px;}
.commentlist .commentBody{margin: 5px 0px 5px 5px;line-height:22px; padding-right:30px;}
.reply { display:block; text-align:right;}
.reply a:link, .reply a:visited{
	text-align:center;
	font-size:12px;}
.datetime {
	font-size:12px;
	color:#aaa;
	text-shadow: 0px 1px 0px #fff;
	}
.commentmetadata {
	font-size:12px;
	color:#aaa;
	text-shadow: 0px 1px 0px #fff;
	}
ol.commentlist li div.vcard img.avatar {
	width:50px;
	height:50px;
	background: #f5f5f5;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 4px;
}
ol.commentlist li ul.children img.avatar {
	width:30px;
	height:30px; margin:0 auto; display:block;}
.comment-avatar{ display:inline-block; width:70px; text-align:center;float:left; padding-right:15px;}
.comment-info strong,.comment-info .datetime{ display:inline-block;}
ol.commentlist li div.floor{ float:right;color:#bbb}
#respond {
	padding:5px 10px 10px;
	overflow:hidden;
	}
#respond_box {	clear:both;border-top:1px solid #ddd;}
#respond h3 {	margin:5px 0 6px 0;}
#commentform p {
	color: #333;
	}
#commentform label {
	color: #868686;
	}
#commentform input {
	border:1px solid #ddd;
	width: 200px;
	margin: 4px 5px 4px 0;
	padding: 3px;
	
	height:30px; line-height:30px; color:#666; border-radius:5px;
	}
#commentform input:focus {
	border: 1px solid #ccc;
	}
#commentform textarea {
	width: 72%;
	height: 120px;
	font-size:13px;
	padding:4px;
	margin:4px 0 0 0;
	border:1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;border-radius:5px;
	}
#commentform textarea:focus {
	border: 1px solid #ccc;
	}
#commentform input#submit, #commentform input#reset{
	width:87px;	
	height:26px;
 	color: #393939;
	text-align:center;
	text-shadow: 0px 1px 0px #fff;
	margin-top:8px;
	border:1px solid #ddd;
	}
#commentform #submit:hover, #commentform #reset:hover {
	font-weight:bold;
	}
#real-avatar .avatar{
	float:right;
	padding:2px;
	border:1px solid #ddd;
	background: #fff;
	margin-right:20px;_margin-right:10px;
}
/** IE6抖动 **/
html body {
_background-attachment:fixed;
}
/** 翻屏 **/
#roll_top,#fall{
	position:relative;
	cursor:pointer;
	height:54px;
	width:54px;
	 margin:2px 0;
	}
#ct{
	position:relative;
	cursor:pointer;
	height:54px;
	width:54px;
}

#roll_top {background:url(images/roll.png) no-repeat;}
#roll_top:hover{background:url(images/roll.png) -54px 0 no-repeat;}
#fall {background:url(images/roll.png) no-repeat 0 -118px;}
#fall:hover{background:url(images/roll.png) no-repeat -54px -118px;}
#ct {background:url(images/roll.png) no-repeat 0 -59px;}
#ct:hover{background:url(images/roll.png) no-repeat -54px -59px;}
#roll {
	display:block;
	width:54px;
	margin-right:-600px;
	_margin-right:0px;
	position:fixed;
	right:50%;
	_right:20%;
	bottom:33%;
	_margin-right:-224px;
	_position:absolute;
	_margin-top:180px;
	_top:expression(eval(document.documentElement.scrollTop));
	}
/** 底部 **/
 #footer_menu {
	text-align:center;
	height:15px;
	background:url(images/line.gif) repeat-x top;
	padding-top:10px;
	font-size:12px;
	margin-top:10px;
	margin-bottom:10px;
}
#footer {
	text-align:center;
	height:50px;
	padding-top:10px;
	font-size:12px;
	margin-top:10px;
	color:#777
}
#footer a:link,#footer a:visited {
	color:#777
}
#foot {
	margin-top:3px;
}

/** Unity3D免费教程 **/
.free li{  background:url(images/freeBoxBg.jpg) center bottom no-repeat; margin:0 10px 10px 0; float:left; padding-bottom:4px; }
.freeBox{ width:178px; padding:10px;border:1px solid #f0f0f0; border-radius:5px 5px 0 0; background:#F8F8F8;}
.freeBox dt ,.freeBox dt a{ color:#0088DD; font-size:13px; letter-spacing:-0.05em; padding:5px 0;}
.freeBox dt a{line-height:20px;}
.freeBox dt a:hover{ color:#333;}
.freeBox dd h1{ padding-bottom:10px;}
.freeBox dd h1 a{ font-size:13px; line-height:20px;}
.freeBox dd{ font-size:13px; line-height:20px; color:#999;}
.freeBox dd span{ font-size:12px;}
.freePic img{ max-width:180px;_width:180px;}

#container { position:relative; width:630px; margin:0 auto 25px; padding-bottom: 10px; overflow:hidden;}
#container li { width:200px; }
#classform input {border:1px solid #ddd;color:#666; border-radius:5px;	}
.classInfo{width:200px;margin: 4px 5px 4px 0;pdding: 3px;height:30px; line-height:30px; }
#classform strong{ width:250px; display:inline-block; text-align:left;}
#classform textarea {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 13px;
    height: 120px;
    margin: 4px 0 0;
    padding: 4px;
    width: 72%;
}
#classform p{ margin:20px;display:block;}
.submit{border: 1px solid #DDDDDD; color: #393939; height: 26px; margin-top: 8px;  text-align: center; text-shadow: 0 1px 0 #FFFFFF;
 width: 87px;}

/** Unity3D专题页面 **/
.slogan .bg {background: url(images/s.gif) no-repeat scroll 0 0 transparent;}

.link{background:#FFFFFF; border-radius: 0 0 8px 8px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);margin:1px auto 5px;padding: 10px 20px; width:960px;}
.link h3{font-family: "Century Gothic","Lucida Grande",Helvetica,Arial,微軟正黑體,微软雅黑;font-size: 14px;}
.link li{ float:left;}
.link li a{ padding:3px 5px; font-size:12px;}


